<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Join ADA for TREES! </h2>
                  <h2 class="section-heading">and start converting ₳ into 🌲!</h2>
                <hr class="light">
                <p class="text-faded">We are a Cardano Stake Pool operating Team with a <b>Sustainable and Ecological Purpose!</b> </p>
                <p class="text-faded">At <b>Ada for Trees</b> we believe in a <b>Sustainable, Global & Decentralised community!</b> </p>
                <p class="text-faded">Cardano is built with this same beliefs, with it's Sustainable and Ecological <b>PoS</b> concept. As our Values align we became proud active members of the Cardano Community!</p>
                <p class="text-faded">Our Goal is to take it a step forward. We want our footprint to be more than NetZero, We want it to be <b>Regenerative!</b> </p>
                <p class="text-faded">Help fight deforestation with a responsible strategy - <b>Agroforestry</b>. Agroforestry is a sustainable agricultural system that integrates cultivation with the native ecosystem - planting endemic productive species! </p>
                <p class="text-faded">This strategy will increase viability of the seedlings planted and will increase the interest of the farmers and communities in nourishing and caring for our Trees, as they will turn into a source of income for them once reproductive.</p>
                <p class="text-faded">Using Treedom® will assure transparency and traceability of our investment. Each tree planted will be traceble and monitored.</p>
                <p class="text-faded">Our impact will grow in sync with ADA and the number of delegation to our pool. </p>
                <p class="text-faded"><b>Join Us! Delegate to ADAT. And turn ADA into trees! </b></p>
                <a href="#" class="btn btn-default btn-xl">How we work</a>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAEVSYUG1d4&#x2F;view?embed">
  </iframe>
</div>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAEVSYUG1d4&#x2F;view?utm_content=DAEVSYUG1d4&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Why Delegate to ADAT</a> by ADA for TREES
            </div>
        </div>
    </div>
</section>
