<section class="bg-primary" id="goal" style="background-image: url('https://raw.githubusercontent.com/ADA4TREES/ADAT/master/img/portfolio/50treesbg.jpg');min-height: 700px;background-repeat: no-repeat;background-position: center;padding:0px;" >


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="light">

                <p class="text-faded"> <b>ADA for Trees</b> thrives to create awareness on the impact of <b>Deforestation</b> and <b>C02 emisions</b>.

            </div>
        </div>
    </div>
</section>
