<section class="bg-primary" id="goal" style="background-image: url('https://raw.githubusercontent.com/ADA4TREES/ADAT/master/img/portfolio/50treesbg.jpg');min-height: 600px;background-repeat: no-repeat;background-position: top;" >
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p><b>Our Goal:</b>Plant a minimum of 50 life-changing trees per month, giving families nutritious food and produce to sell.</p>
            </div>
        </div>
    </div>
</section>
