<section class="bg-primary" id="goal" style="background-image: url('https://raw.githubusercontent.com/ADA4TREES/ADAT/master/img/portfolio/Untitled-1.jpg');height: 600px;background-repeat: no-repeat;background-position: top;" >
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center" style="padding-top: 120px;padding-bottom: 120px">
                <h2>Our Goal:</h2>
                <p>Plant a minimum of 50 life-changing trees per month, giving families nutritious food and produce to sell.</p>
                  <img width="150" height="150" src="https://raw.githubusercontent.com/ADA4TREES/ADAT/master/img/portfolio/9.png" alt="ADATlogo">
            </div>
        </div>
    </div>
</section>
