<section class="bg-primary" id="intro" style="padding:25px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <img width="500" height="200" src="https://github.com/ADA4TREES/ADAT/blob/master/img/portfolio/hand.png?raw=true" alt="give">
                <h3 class="section-heading">ADA for Trees is a purpose driven Cardano Stake Pool</h3>
                <hr class="light">
                 <p>We are Stake Pool Operators. We are not finantial experts and cannot provide financial advice.
                  <br>If you would like to know more about <b style="background: white;
                  color: #61959c;">Cardano or Staking</b>, here is some helpful links:
                </p>
                  <h5 style="color: #fcf8e3;"><a href="https://cardano.org/">The Cardano Project</a></h5>
                  <h5 style="color: #fcf8e3;"><a href="https://cardano.org/stake-pool-delegation/">Stake pool delegation</a></h5>
                  <h5 style="color: #fcf8e3;"><a href="https://adapools.org/">ADA Pools</a></h5>
                  <h5 style="color: #fcf8e3;"><a href="https://cardano-community.github.io/support-faq/#/select-pool-to-delegate">Selecting a stake pool to delegate</a></h5>
                  <h5 style="color: #fcf8e3;"><a href="https://www.reddit.com/r/cardano/comments/lnj5ne/getting_started_guide_a_newbies_guide_to_cardano/">Cardano's guidance on Reddit</a></h5>
        </div>
    </div>
</div>
</section>
