<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"> Pool Operator </h2>
                </div>
              <div class="container-fluid">
                <div class="col-sm-4 text-center">
                <img width="400" height="400" src="https://github.com/ADA4TREES/ADAT/blob/master/img/portfolio/2.png?raw=true" alt="Cris">
                </div>
                <div class="col-sm-8 text-center">
                  <h3 class="section-heading"> Hi, I am Cris! </h3>
                <hr class="light">
                <p class="text-faded"> A 30yo living in the Sunny Mediterranean Corsica. With a background in Biotechnology and passionate about <b>Ecology and Sustainability</b>, my goal is to find solutions to help mitigate climate change. I firmly believe that integrating an understanding of ecological impact with technological development is key for building a sustainable future.</p>
                <p class="text-faded"> Cardano is based on the same strong principle that I hold dear and their PoS approach made me believe that blockchain and cryptocurrency can be the answer towards a decentralised, more just and sustainable future. Since I was introduced to Cardano project by my partner in 2019 I have been following up closely and improving my skills in programing and sysadmin to allow me to create, secure and run a node stake pool. </p>
                <p class="text-faded">'Ada for trees' was born from my desire to create a strong link between Cardano and my passion for Nature. Using the stake pool to generate income to help reforestation projects is the perfect way to give back to the planet. With ADA value going up and a fairly amount of delegation, a fee of only 2% can make a massive difference. And the delegators still earn 98% of the profits, myself included. This is a perfect win-win situation where we all share both wins. </p>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"> Treedom </h2>
                    <h3 class="section-heading"> What is Treedom?</h3>
                    <hr class="light">
                    <p class="text-faded"> Treedom is an organisation that collaborates with small farmers all over the world to help them integrate a more sustainable agricultural system - Agroforestry. Agroforestry consists in cultivating native species integrated with the ecosystem where they are farmed. They do so by educating the small farmers and the communities in best agricultural practices and also by supporting their income during the growth phase of the plants. While they are not yet productive. </p>
                    <div class="mx-auto">
                      <iframe width="430" height="242" src="https://www.youtube.com/embed/x4GOuZK2NmQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <p class="text-faded"> <b>How do we work with them?</b> </p>
                    <p class="text-faded"> Treedom has a website where people can buy trees. Those will then be planted and will be traceable, thanks to their ID system that allows you to have information of where the tree has been planted, information about the farmer that is caring for that tree and even an updated photo tag. </p>
                    <p class="text-faded"> We chose this project because of their <b>impact</b> -  not only <b>ecological</b> - but within the <b>communities</b> being supported by this initiative. Also due to its <b>traceability </b>- we wanted to be able to trace and see our investement actually grow and give fruits. </p>

             </div>
      </div>
</section>
