<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Grounds</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-recycle wow bounceIn text-primary"></i>
                    <h3>Make ADA more Sustainable</h3>
                    <p class="text-muted">We give a step forward towards a Sustainabe blockchain operation with NetZero Carbon Footprint</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-seedling wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ada to seedlings</h3>
                    <p class="text-muted">We convert the ADA value to seeds</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-passport wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Track your Tree</h3>
                    <p class="text-muted">All trees planted can be tracked realtime and you will be able to find all IDs in here.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-hands-helping wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Help the community</h3>
                    <p class="text-muted">More than forests we will be planting hope and support for many communities and we will share their story here.</p>
                </div>
            </div>
        </div>
    </div>
</section>
