<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Biology of it!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-recycle wow bounceIn text-primary"></i>
                    <h3>Green Credits</h3>
                    <p class="text-muted">100% of the pool's profits reverts into green credits to plant trees!</p>
                    <p class="text-muted"> Delegation to ADAT have a 2% fee. This fee will revert entirely to the 'ADA for Trees' project.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-seedling wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>₳ to seeds</h3>
                    <p class="text-muted">We will then convert ₳ to fund and plant our trees with Treedom®, supporting their Agroforestry project.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-passport wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Track your Tree</h3>
                    <p class="text-muted"> Every tree will be tagged with a unique ID that we will be sharing here.That ID will give you details about our trees: picture, GPS location, farmer ID, stage of growth. That you can check at any time!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-hands-helping wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Help the community</h3>
                    <p class="text-muted">This project is not only about trees is about people! Find out stories about the farmers and communities impacted by our investements.</p>
                </div>
            </div>
        </div>
    </div>
</section>
